@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primaryColor: #c1a59a;
    --secondaryColor: #1e272e;
    --themeFont: "Poppins";
}

.s0507_universal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--themeFont);
}

body {
    margin: 0;
}

.s0507_container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0px 20px;
}

.s0507_trending_items_content_main_wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
}

/* trending_items top area */
.s0507_trending_items_content_top_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s0507_trending_items_sell_title_text {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondaryColor);
}

.s0507_time {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.s0507_remaing_time_number {
    font-size: 12px;
    font-weight: 700;
    color: var(--secondaryColor);
}

.s0507_remaing_time_text {
    font-size: 8px;
    font-weight: 400;
    color: rgba(30, 39, 46, 50%);
}

/* trending_items product area */
.s0507_trending_items_content_product_area {
    margin-top: 20px;
}

.s0507_trending_items_home_all_product_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}

.s0507_trending_items_single_product:hover .s0507_product_badge_area_wrapper {
    opacity: 1;
}

.s0507_trending_items_single_product:hover .s0507_product_img_wrapper img {
    transform: scale(1.2);
}

.s0507_trending_items_single_product:hover .s0507_product_top_area::after {
    opacity: 1;
}

.s0507_trending_items_single_product:nth-child(5) {
    display: none;
}

.s0507_product_top_area {
    width: 100%;
    /* background-color: rgba(30, 39, 46, 2%); */
    position: relative;
    overflow: hidden;
}

.s0507_product_top_area::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(30, 39, 46, 5%);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.s0507_product_img_wrapper img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.s0507_wishlist_area_wrapper {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
}

.s0507_text_badge_wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 11px;
    width: 17px;
    font-size: 8px;
    font-weight: 400;
    color: var(--secondaryColor);
}

.s0507_product_rating {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 40%;
    gap: 2px;
}

.s0507_product_badge_area_wrapper {
    opacity: 0;
    transition: 0.4s ease-in-out;
}

/* product bottom area */
.s0507_product_bottom_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.s0507_product_name_wrapper {
    display: flex;
}


span.s0507_product_name {
    font-size: 12px;
    font-weight: 500;
    color: rgba(30, 39, 46, 100%);
}

span.s0507_product_type {
    font-size: 12px;
    font-weight: 400;
    color: rgba(30, 39, 46, 50%);
}

.s0507_product_price_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
}

.s0501_old_price_text {
    color: rgba(30, 39, 46, 50%);
}

.s0507_new_price_text {
    color: var(--primaryColor);
}

.s0507_delete_product::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgba(30, 39, 46, 50%);
    position: absolute;
    left: 0;
    top: 46%;
}

/* view more btn area style */
.s0507_trending_items_content_button_area {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s0507_trending_items_content_button {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--primaryColor);
    padding: 7px 20px;
    background-color: white;
    color: rgba(30, 39, 46, 80%);
    transition: all 0.4s ease-in-out;
}

.s0507_trending_items_content_button:hover {
    background-color: var(--primaryColor);
    color: white;
}

/* active wishlist class */
.active_wishlist.s0507_wishlist_area_wrapper svg {
    fill: #1e272e;
}





@media screen and (min-width:640px) {
    .s0507_trending_items_content_main_wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* trending_items top area style */
    .s0507_trending_items_sell_title_text {
        font-size: 22px;
    }

    .s0507_remaing_time_number {
        font-size: 14px;
    }

    .s0507_remaing_time_text {
        font-size: 9px;
    }

    /* trending_items product area */
    .s0507_trending_items_single_product:nth-child(4) {
        display: none;
    }

    .s0507_trending_items_single_product:nth-child(5) {
        display: none;
    }

    .s0507_trending_items_content_product_area {
        margin-top: 25px;
    }

    .s0507_wishlist_area_wrapper {
        right: 15px;
        top: 10px;
    }

    .s0507_text_badge_wrapper {
        position: absolute;
        top: 15px;
        left: 15px;
        height: 15px;
        width: 22px;
        font-size: 10px;
        font-weight: 500;
    }

    .s0507_wishlist_area_wrapper svg {
        height: 12px;
        width: 12px;

    }


    .s0507_product_rating {
        bottom: 15px;
    }

    .s0507_product_rating li svg {
        height: 11px;
        width: 11px;
    }

    .s0507_trending_items_home_all_product_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }

    /* product botton area */
    .s0507_product_bottom_area {
        gap: 10px;
        margin-top: 10px;
    }


    span.s0507_product_name {
        font-size: 14px;
    }

    span.s0507_product_type {
        font-size: 14px;
    }

    .s0507_product_price_wrapper {
        font-size: 14px;
    }

    /* view more btn area style */
    .s0507_trending_items_content_button_area {
        margin-top: 40px;
    }

    .s0507_trending_items_content_button {
        font-size: 14px;
        padding: 8px 20px;
        cursor: pointer;
    }


}

@media screen and (min-width:1025px) {
    .s0507_trending_items_content_main_wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* trending_items top area style */
    .s0507_trending_items_sell_title_text {
        font-size: 24px;
    }

    .s0507_remaing_time_number {
        font-size: 14px;
    }

    .s0507_remaing_time_text {
        font-size: 10px;
    }

    /* trending_items product area */
    .s0507_trending_items_home_all_product_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
    }

    .s0507_trending_items_single_product:nth-child(4) {
        display: block;
    }

    .s0507_trending_items_single_product:nth-child(5) {
        display: none;
    }

    .s0507_wishlist_area_wrapper svg {
        height: 13px;
        width: 13px;

    }

    .s0507_text_badge_wrapper {
        height: 17px;
        width: 26px;
        font-size: 12px;
        font-weight: 500;
    }

    /* product bottom area */

    span.s0507_product_type {
        font-size: 14px;
    }

    .s0507_product_price_wrapper {
        gap: 10px;
    }

    /* view more btn area style */
    .s0507_trending_items_content_button_area {
        margin-top: 50px;
    }


}

@media screen and (min-width:1365px) {

    /* trending_items product area */
    .s0507_trending_items_home_all_product_wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 30px;
    }

    .s0507_trending_items_single_product:nth-child(5) {
        display: block;
    }
}